.row#content(td-toasts)
	.col.s12.center
		h1 Two.deux
		p Sign in to begin

	.col.l4.offset-l4.m6.offset-m3 
		.card-panel.grey.lighten-4
			.row.no-margin-bottom
				.center
					i.large.material-icons 
						| account_circle
				form.form(ng-submit="login()", action="")
					.input-field.col.s12
						input.validate(type='email', ng-model="loginForm.username")
						label(for='username') Username

					.input-field.col.s12
						input.validate(type='password', ng-model="loginForm.password")
						label(for='password') Password

					.col.s12
						input.btn-large.blue(ng-disabled="!loginForm.username || !loginForm.password", type="submit", value="Log In")

		.center
			a(href="#/register") Create account 