//- header(ng-controller="LogoutController")
//- 	.container
//- 		a.button-collapse.top-nav.hide-on-large-only.right(href='#', data-activates='nav-mobile')
//- 			i.mdi-navigation-menu
//- 		ul#nav-mobile.side-nav.fixed
//- 			li.center
//- 				i.large.material-icons 
//- 					| account_circle
//- 			li
//- 				a(ng-click='logout()') Logout	

.row#main(ng-controller="TodoListController as todoList", td-toasts)
	.col.s12.center
		h1 TWO.DEUX
		p Welcome back {{derp}}

	.col.l6.offset-l3.m8.offset-m2.s12
		.card-panel.grey.lighten-4
			.search
				.search-wrapper.card
					input(type="text", id="search", ng-model="query")
					i.material-icons search

			span {{remaining()}} of {{items.length}} remaining 
			| [
			a(href="", ng-click="archive()") archive
			| ]
			
			ul.collection(ng-repeat="item in items | filter:query")
				li.collection-item.dismissable
					input.blue(type="checkbox", id="item-{{$index}}", ng-model="item.complete")
					label(for="item-{{$index}}", class="done-{{item.complete}}", ng-click="toggleItem(item._id, $index)") {{item.body}}
					i.material-icons.hide-on-small-only(tooltipped, data-position="top", data-delay="50", data-tooltip="delete", ng-click="deleteItem(item._id)") delete
					i.material-icons(tooltipped, data-position="top", data-delay="50", data-tooltip="edit") input

	.col.l6.offset-l3.m8.offset-m2.s12
		form(ng-submit="createItem()", action="")
			input(type="text", ng-model="todoText", size="30", placeholder="add new todo here")
			input.btn.blue(type="submit", value="add")