.row#main(ng-controller="TodoListController as todoList", td-toasts)
	.col.s12.center
		h1.text-white TWO.DEUX
		p.text-white Welcome to DEUX, {{username}}

	.col.l6.offset-l3.m8.offset-m2.s12
		.card-panel.grey.lighten-4
			.search
				.search-wrapper.card
					input(type="text", id="search", ng-model="query", ng-keyup="icon='not_interested'")
					i.material-icons(ng-click="clearSearch()") {{icon}}

			p.right-align
				span {{remaining()}} / {{items.length}} remaining - 			
				a(ng-click="archive()") delete completed			
			
			ul.collection
				li.collection-item.dismissable.item(ng-repeat="item in items | filter:query")
					input.blue(type="checkbox", id="item-{{$index}}", ng-model="item.complete")
					label(for="item-{{$index}}", class="done-{{item.complete}}", ng-click="toggleItem(item._id, $index)") {{item.body}}
					i.material-icons.hide-on-small-only(tooltipped, data-position="top", data-delay="50", data-tooltip="delete", ng-click="deleteItem(item._id, $index)") delete

	.col.l6.offset-l3.m8.offset-m2.s12
		form.input(ng-submit="createItem()", action="")
			.input-field.col.s12(input-field)
				input(type="text", ng-model="todoList.todoText", size="30")
				label Add new item
				input.btn.blue(type="submit", value="add", ng-disabled="!todoList.todoText")