header(ng-controller="LogoutController")
	.container
		a.button-collapse.top-nav.hide-on-large-only.right(href='#', data-activates='nav-mobile')
			i.mdi-navigation-menu
		ul#nav-mobile.side-nav.fixed
			li.center
				i.large.material-icons 
					| account_circle
			li
				a(ng-click='logout()') Logout	

.row(ng-controller="TodoListController as todoList")
	.col.s12.center
		h1 TWO.DEUX
		p Welcome back

	.col.l6.offset-l3.m8.offset-m2.s12
		.card-panel.grey.lighten-4
			span {{todoList.remaining()}} of {{todoList.todos.length}} remaining 
			| [
			a(href="", ng-click="todoList.archive()") archive
			| ]
			ul.collection(ng-repeat="todo in todoList.todos")
				li.collection-item.dismissable
					input.blue(type="checkbox", id="test{{$index}}", ng-model="todo.done")
					label(for="test{{$index}}", class="done-{{todo.done}}") {{todo.text}}


	.col.l6.offset-l3.m8.offset-m2.s12
		form(ng-submit="todoList.addTodo()", action="")
			input(type="text", ng-model="todoList.todoText", size="30", placeholder="add new todo here")
			input.btn.blue(type="submit", value="add")			