.row#content(td-toasts)
  .col.s12.center
    h1 Two.deux
    h5 Sign up

  .col.l4.offset-l4.m6.offset-m3 
    .card-panel.grey.lighten-4
      .row.no-margin-bottom
        .center
          i.large.material-icons 
            | account_circle

        form.form(ng-submit="register()", action="")

          .input-field.col.s12(input-field)
            input.validate(type='email', ng-model="registerForm.username")
            label(data-error="user@name.com") Email Address

          .input-field.col.s12(input-field)
            input.validate(type='password', ng-model="registerForm.password")
            label Password

          .col.s12
            input.btn-large.blue(ng-disabled="!registerForm.username || !registerForm.password", type="submit", value="Sign Up") 

    .center
      a(href="#/login") Already have an account?