.row#content(td-toasts)
  .col.s12.center
    h1 Two.deux
    p Sign up

  .col.l4.offset-l4.m6.offset-m3 
    .card-panel.grey.lighten-4
      .row.no-margin-bottom
        .center
          i.large.material-icons 
            | account_circle

        form.form(ng-submit="register()", action="")

          //- .input-field.col.s12
          //-   input.validate(type='text', ng-model="registerForm.firstName")
          //-   label(for='firstName') First Name

          //- .input-field.col.s12
          //-   input.validate(type='text', ng-model="registerForm.lastName")
          //-   label(for='lastName') Last Name

          .input-field.col.s12
            input.validate(type='email', ng-model="registerForm.username")
            label(for='username', data-error="user@name.com") Username

          .input-field.col.s12
            input.validate(type='password', ng-model="registerForm.password")
            label(for='password') Password

          .col.s12
            input.btn-large.blue(ng-disabled="!registerForm.username || !registerForm.password", type="submit", value="Register") 

    .center
      a(href="#/login") Log in