doctype html
html(ng-app="myApp")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        
    title= title    

    // bower:css
    // endbower

    // app styles
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/app.css") 

  body
    block content

    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/Materialize/bin/materialize.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-route/angular-route.js')
    // endbower  

    script(src="//localhost:35729/livereload.js")